@charset "UTF-8";

/* 

Paleta de Cores
Lilás: #5f2c82
Verde: #49a09d

*/

/* 
Mobile
768px
992px
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --cor1: #5f2c83;
    --cor2: #49a09d;
}

body {
    background-color: var(--cor1);
}

section {
    background-color: white;

    width: 250px;
    height: 515px;

    border-radius: 20px;
    overflow: hidden;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

div#imagem {
    background-image: url(../imagens/metal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -175px;

    border-radius: 20px 20px 0px 0px;

    height: 200px;
    overflow: hidden;
}

section>div>h1 {
    text-align: center;

    padding: 10px;
}

section>div>p {
    padding: 0px 10px 5px 10px;
    text-align: left;

    font-size: 13px;
    line-height: 17.5px;
}

div.inputs {
    background-color: var(--cor1);

    width: 230px;
    height: 40px;

    border-radius: 8px;
    margin: auto;
    margin-bottom: 5px;

    display: flex;
    justify-content: right;
    align-items: center;
}

input {
    border: none;
    border-radius: 8px;

    margin-right: 3px;

    width: 180px;
    height: 36px;

    background-color: #94CFCD;
    display: block;
}

i.material-icons {
    color: white;
    font-size: 29px;
    margin-right: 10px;
}

input#submit {
    border-radius: 5px;

    background-color: #53aaa7;
    color: white;

    margin: auto;

    width: 92%;
    height: 40px;

    font-size: medium;
}

div#esquecisenha {
    text-align: center;
    background-color: white;
    border: 1px solid #49a09d;

    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
}

a#linksenha {
    text-decoration: none;
    color: #275755;

}

i#iconeemail {
    color: #275755;
    font-size: 12.5px;
}