@charset "UTF-8";

/* 

Paleta de Cores
Lilás: #5f2c82
Verde: #49a09d

*/

/*  
    Typical Device Breakpoints
	------------------------------
	Pequenas telas: até 600px
	Celular: de 600px até 768px
	Tablet: 768px até 992px
	Desktop: 992px até 1200px
	Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
    }
}



