@charset "UTF-8";

/* 

Paleta de Cores
Lilás: #5f2c82
Verde: #49a09d

*/

/* 
Mobile
768px
992px
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

body, html {
    background-color: var(--cor1);

    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;

    position: relative;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    width: 250px;
    height: 515px;
    
    border-radius: 20px;
    
    overflow: hidden;
    
    transition: width 0.25s, height 0.25s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: var(--cor1) url(../imagens/metal.jpg) no-repeat fixed left bottom / cover;

    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--cor1);
    border: 2px solid var(--cor1);
    display: flex; /* Alterado para flexbox */
    align-items: center; /* Alinha itens verticalmente */

    width: 100%;
    height: 40px;

    margin: 5px 0px;

    border-radius: 8px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;  
    font-size: 1.8em; /* Ajuste para melhor visualização do ícone */

    width: 40px;
    padding: 0px 5px; /* Ajuste de padding */
}

div.campo > input {
    outline: none;
    border: 0px;
    border-radius: 8px;

    background-color: #94cfcd;

    font-size: 1em;

    width: auto; /* Deixa o flexbox controlar a largura */
    flex-grow: 1; /* Faz o input preencher o espaço restante */
    height: 100%;

    padding: 4px;
}

div.campo input:focus-within{
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;

    background-color: var(--cor2);
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;

    text-align: center;
    text-decoration: none;
    font-size: 1em;

    width: 100%;
    height: 40px;

    padding-top: 7px;
    margin-top: 5px;

    background-color: #ffffff;
    color: #2d6462;
    border: 1px solid var(--cor2);
    border-radius: 5px;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    color: #2d6462;

    font-size: 0.8em;
}
